*
{
    padding: 0px;
    margin: 0px;
}

body
{
	width: 950px;
	font-family: arial,sans-serif;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    border: 1px solid #666666;
}
td {
    padding: 5px;
    border: 1px solid #666666;

}
th {
    padding: 5px;
    border: 1px solid #666666;
}

.clear {
        clear: both;
}

#content {
	float: left;
	padding: 5px;
	margin: 5px;
	margin-top: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.hidden {
    visibility: hidden;
    display: none;
}
.tabdata {
    border: 1px solid #000066;
    padding: 15px;
    min-width: 742px;
    width: 742px;
}
.tabdata pre {
	white-space: pre-wrap;
}
.tabmenu {
    margin-left: 10px;
    list-style: none;
}

.tabmenuli {
    float: left;
    margin-bottom: -1px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    border-top: 1px solid #000066;
    border-left: 1px solid #000066;
    border-right: 1px solid #000066;
    border-bottom: 1px solid #000066;
    background-color: #aaaaaa;
    position: relative;
    cursor: pointer;
}

.tabmenuselected {
    border-bottom: 1px solid white;
    background-color: #ffffff;
    cursor: auto;
}
.notice
{
    width: 50%;
    padding: 3px;
    border: 1px solid #33ff33;
    background-color: #ccffcc;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
.error
{
    width: 50%;
    padding: 3px;
    border: 1px solid #ff3333;
    background-color: #ffcccc;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
img
{
	border: 0;
}

a:visited, a:active, a:link
{
        color: #000000;
        /* text-decoration: none; */
}

a:hover
{
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
h1 a:visited, h1 a:active, h1 a:link {
	color: #000066;
}

h1 {
	text-decoration: underline;
	font-size: 1em;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-left: 110px;
	margin-bottom: 10px;
	margin-top: -20px;
}
h2 {
	font-size: 1em;
	text-decoration: underline;
	font-weight: bold;
}
h3 {
	font-size: 1em;
	text-decoration: underline;
	font-weight: bold;
}
.leftsidemenu {
	width: 150px;
	margin: 10px;
	margin-top: 0px;
	margin-right: 0px;
	float: left;
	border: 1px solid #000066;
}
.leftsidemenuitems {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
ul.leftsidemenuitems li {
	padding-bottom: 2px;
	text-decoration: underline;
	font-size: .9em;
}
ul.leftsidemenuitems li a:link {
	color: #000066;
}
ul.leftsidemenuitems li a:visited {
	color: #000066;
}
ul.leftsidemenuitems li a:active {
	color: #000066;
}
.menuheader {
	padding-top: 2px;
	padding-bottom: 1px;
	color: white;
	padding-right: 10px;
	background-color: #000066;
	text-align: center;
}
a:link.underboldlink, a:visited.underboldlink, a:active.underboldlink {
	text-decoration: underline;
	font-weight: bold;
}
a:link.boldlink, a:visited.boldlink, a:active.boldlink {
	font-weight: bold;
}
.search {
	float: right;
	margin-top: -60px;
	margin-right: 350px;
	height: 25px;
	width: 180px;
	display: inline;
}
div.search input[type=text] {
	padding-top: 2px;
	border: 1px solid #000066;
	width: 115px;
	height: 18px;
	display: inline;
	float: left;
}
div.search input[type=submit] {
	border: 1px solid #000066;
	height: 22px;
	float: left;
	margin-left: 8px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	display: inline;
}
.irrbox {
	border: 1px solid #000000;
	margin-bottom: 20px;
	clear: both;
}
.irrdata {
	font-family: monospace;
	padding: 10px;
	float: left;
	clear: both;
	white-space: pre-wrap;
}
.irrsource {
	padding-top: 2px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 1px;
	color: #ffffff;
	background-color: #000066;
	border-right: 1px solid #000066;
	border-bottom: 1px solid #000066;
	float: left;
	clear: both;
	cursor: pointer;
}
.dnshead {
	padding-left: 5px;
	border-bottom: 1px solid #000066;
	font-weight: bold;
}
.dnsdata {
	padding-left: 10px;
	margin-bottom: 15px;
}
.rblok:nth-child(odd) {
	padding-left: 5px;
	background-color: #00ee55;
	width: 350px;

}
.rblok:nth-child(even) {
	padding-left: 5px;
	background-color: #00FF66;
	width: 350px;

}
.rbllisted:nth-child(odd) {
	padding-left: 5px;
	background-color: #ee0000;
	width: 350px;
}
.rbllisted:nth-child(even) {
	padding-left: 5px;
	background-color: #ff0000;
	width: 350px;
}
.rbltext {
	float: right;
}
.webthumb img {
	padding: 10px;
	border: 1px solid #000066;
}
#footer {
	margin-left: 100px;
	margin-bottom: 10px;
	color: #666666;
	font-size: 10px;
	text-align: center;
}
.sortable th a {
	text-decoration: none;
}
.stale {
	padding: 20px;
	text-align: center;
	border: 1px solid #ff0000;
	background-color: #ffcccc;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.privateasn {
	padding: 20px;
	text-align: center;
	border: 1px solid #ff0000;
	background-color: #ffcccc;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.bogon {
	padding: 20px;
	text-align: center;
	border: 1px solid #ff0000;
	background-color: #ffcccc;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.alignright {
	text-align: right;
}
.flag {
	padding: 0px;
	margin: 0px;
	width: 43px;
	height: 20px;
	max-height: 20px;
	text-align: right;
}
.valigntop {
        vertical-align: top;
}
.rpad5 {
	padding-right: 5px;
}
.rmargin8 {
	margin-right: 8px;
}
.h30 {
	height: 30px;
}
.down2 {
	position: relative;
	top: 2px;
}
.rpad10 {
	padding-right: 10px;
}
.centeralign {
	text-align: center;
}
.dnsbool {
	width: 35px;
	max-width: 35px;
}
.nstests {
	float: left;
	width: 220px;
}
.nstestsresult {
	float: left;
	width: 30px;
}
.nscounts {
	float: left;
	width: 110px;
}
.nscountsnum {
	float: left;
	text-align: right;
	width: 190px;
}
.tldleft {
        float: left;
        width: 350px;
}
.tldright {
        margin-left: 15px;
        float: left;
        width: 375px;
}
.w100p {
	width: 100%;
}
.w30 {
	width: 30px;
}
.w50p {
	width: 50%;
}
.lpad15 {
	padding-left: 15px;
}
#showcontact {
	cursor: pointer;
	text-decoration: underline;
}
.red {
	color: red;
}
.social {
	margin-left: 10px;
	width: 150px;
}
table.tinyfont td {
	font-size: 0.7em;
	text-align: right;
}
.announcedas {
	height: 22px;
}
.nowrap {
	white-space: nowrap;
}
.roakey {
	padding: 0px;
	margin: 0px;
	height: 20px;
	top: 0px;
	right: 0px;
	max-height: 20px;
	text-align: right;
	float: right;
	width: 27px;
}
.irrimg {
	padding: 0px;
	margin: 0px;
	height: 20px;
	top: 0px;
	right: 0px;
	max-height: 20px;
	text-align: right;
	float: right;
	width: 27px;
}
.irrimg + a, .roakey + a {
    margin-right: 10px;
}
.font-small {
	font-size: 0.75em;
}
.peerlinechart {
    width: 740px;
    height: 250px;
}
.prefixchart {
    width: 740px;
    height: 200px;
}
.graphtitle {                                                                                 text-align: center;
    font-weight: 500;
    color: #555;
    font-size: 15px;
    font-family: sans-serif;
}
.barchart {
    width: 360px;
    height: 490px;
}
.peerchart {
    width: 360px;
    height: 250px;
}
.offpage {
    position: absolute;
    left: -999px;
    top: -999px;
}

#exchangegraph {
    width: 360px;
    height: 490px;
}
